/* Basic CSS for the navigation bar */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #000000;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: 'Urbanist', sans-serif;
    /* margin: 20px; */
  }
  
  h1 {
    margin-bottom: 20px;
  }

  h2{
    font-size: large;
    text-indent: 2px;
  }

  h3{
    font-size: x-large;
  }

  h4{
    font-size: large;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }

  .Form p{
    font-size: large;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    font-family: 'Urbanist', sans-serif;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  input::placeholder{
    font-family: 'Urbanist', sans-serif;
  }

  .container {
    display: flex;
    background-image: url('f.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  .Form{
    position: relative;
    padding-top: 10%;
    width: 60%;
    padding-left: 5%;
  }

  .book{
    margin-top: 20px;
  }

  .social-icons{
    display: flex;
    position: relative;
    top:1%;
    align-items: center;
  }

  .team{
    padding: 10px;
    margin-top: 30px;
  }

  .details p{
    padding: 10px;
  }

  .details{
    display: flex;
  }

  .bottom-border-input {
  border: none;
  border-bottom: 1px solid #000000; 
  background: transparent; 
  outline: none; 
  width: 300px !important;
}
 
 label{
    font-size: large;
    padding-top: 25px;
    font-weight: 600;
 }

 .contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 10%;
    padding-left: 30%;
}
 .field{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
 }

 .Submit{
    margin-top:10px;
 }

 #results{
    display: flex;
    width: 30%;
    text-align: center;
    flex-direction: column;
    overflow-y: auto; /* Enable scrolling for content exceeding container height */
    scroll-behavior: smooth; /* Smooth scrolling behavior */
 }

 #results img{
    width:400px;
 }